* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Calibri cuerpo', sans-serif;
}

.principalContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #00B0F0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.divMapa {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#mapa {
	width: 90%;
	height: 90%;
	background: #fff;
}

.divBotones {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 40px;
	position: relative;
}

form {
	width: 90%;
	margin-top: 20px;
	border: 1px solid #2b2b2b;
	padding: 20px;
}

label {
	font-size: 17px;
	margin-bottom: 10px;
	display: flex;
}

input, select {
	width: 100%;
	height: 40px;
	font-size: 17px;
	color: #2b2b2b;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
}

select {
	margin-bottom: 20px;
	height: 30px;
	padding: 2px 10px;
}

.formRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

.formRow input {
	width: 45%;
	margin: 0 10px;
}

button {
	width: 250px;
	color: #2b2b2b;
	background: #E7E6E6;
	padding: 10px 0;
	margin-bottom: 20px;
	cursor: pointer;
}

button.btnClear {
	position: absolute;
	bottom: 20px;
}

.btn {
	color: #2b2b2b;
	background: #E7E6E6;
	cursor: pointer;
	font-size: 14px;
	border: #E7E6E6 2px outset;
	border-radius: 0;
}

.btn#btnCrearE {
	width: 150px;
	float: right;
}

.form {
	display: none;
}